*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(241, 178, 178);
    color: gray;
}
.nav-header{

    background: cyan;
}
.btn-custom{
    background-color: brown;
    color: white;
    padding: 15px;
}